body {
    padding: 0px;
    margin: 0px auto;
    background-color: white;
}

.container {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
}

/* header */

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 8888;
}

.header-top {
    background-color: #1F4F9F;
    padding: 10px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 0px;
    margin: 0px auto;
}

.left {
    display: flex;
    width: 50%;
}

.left img {
    margin-top: 5px;
}

.name {
    padding: 15px;
    color: white;
    text-align: center;
}

header h2 {
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0px 0px 5px;
    width: 100%;
    font-family: "Geometric Slabserif";
}

header h3 {
    font-weight: 900;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
    width: 100%;
    font-family: "Geometric Slabserif";
}

p {
    font-weight: 900;
}

.right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.right form {
    display: flex;
    background-color: #7490C0;
    border-radius: 1px;
}

.right span {
    padding: 5px;
}

form input {
    background: none;
    border: none;
    color: white;
    background: rgba(0, 0, 0, 0);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border: none;
    padding: 8px 8px 8px 0;
    width: calc(100% - 40px);
    width: 340px;
}

input::placeholder {
    color: white;
}

form button {
    background: none;
    border: none;
}

header select {
    background-color: #1F4F9F;
    border: none;
    color: white;
    font-weight: 800;
    padding-left: 10px;
}

.language {
    padding: 10px;
}

.language .dropdown-toggle {
    color: white;
    display: flex;
    align-items: center;
    padding: -7px 24px;
}

.dropdown-toggle {
    color: white;
    white-space: nowrap;
}

.icon img {
    border-radius: 150px;
}

.dropdown-menu {
    color: white;
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

.language .dropdown-menu li {
    padding: 8px 16px;
}

.language .langitem {
    color: white;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.dropdown-toggle:hover+.dropdown-menu {
    display: block;
}

.header-menu {
    background-color: white;
    color: #1F4F9F;
    width: 79%;
    padding: 0px;
    margin: 0px auto;
}

.fix {
    background-color: white;
    padding: 1px;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 35px;
}


header ul li a {
    text-decoration: none;
    color: #1F4F9F;
    font-weight: 600;
}

header ul li a:hover {
    text-decoration: none;
    color: chocolate;
    font-weight: 600;
}

.dropdown a,
svg {
    color: #1F4F9F;
}

.dropdown a:hover {
    color: chocolate;
}

.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown:hover .dropdown-menu {
    display: block;

}

/* end header */




/* banner */
.f-1 {
    margin-top: 150px;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: relative;
    top: -55px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.mySlides img {
    max-height: 2000px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.chen {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 300px;
}

.snowflake {
    height: 300px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #ebebeb;
    user-select: none;
    z-index: 1000;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.snowflake:hover {
    cursor: default
}

/*emd banner */



/* content */

.contenthome {
    width: 75%;
    padding: 0px;
    margin: 0px auto;
}

.boxtitle {
    display: flex;
    width: 100%;
    height: 800px;
    /* background-color: #7490C0; */
}

.left-ct {
    width: 70%;
    padding-right: 20px;
}

.right-ct {
    width: 30%;
}

.boxtitle h3 {
    font-weight: 500;
    color: #1F4F9F;
    font-size: 32px;
    font-family: "Roboto Slab";
}

.box-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0px;
    height: 50px;
}

.custom-nav {
    margin-right: 20px;
    padding-top: 10px;
}

.icon svg {
    opacity: 0.6;
    transform: rotate(-178deg);
    margin-bottom: 1px;
}

.hr {
    background-color: #F48220;
    width: 10%;
    float: left;
    height: 3px;
}

.hr3 {
    background-color: #F48220;
    width: 20%;
    margin-top: 3px;
    float: left;
    height: 3px;
}


.box-tb {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.flex-tb {
    display: flex;
    padding: 10px;
}

.flex-tb img {
    width: 80px;
    height: 80px;
}

.des {
    padding: 20px;
    display: block;
    text-align: center;
}

.des span {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    color: #333;
}

.tb1 {
    background-color: #F2F2F2;
}

.tb2 {
    background-color: #F2F2F2;
}

.tintuc-icon svg {
    background-color: #F48220;
    border-radius: 100px;
}

.tintuc {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #f48220;
    font-family: Roboto Slab;
}

.tintuc p {
    margin-right: 6px;
}

.tintuc a {
    font-weight: 500;
    font-size: 16px;
    color: #f48220;
    font-family: Roboto Slab;
    text-decoration: none;
}

.tintuc-content {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}


.tintuc-content img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    transition: 1s;
}

.ob-img {
    overflow: hidden;
}

.tintuc-content img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.tintuc-left {
    float: left;
    width: 50%;
}

.tintuc-right {
    float: right;
    width: 50%;
}

.tintuc-a a {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    min-height: 44px;
    color: #333;
    width: 100%;
    text-align: left;
    padding: 0px;
    text-decoration: none;
    overflow: hidden;

}

.hr-2 {
    background-color: #ebebeb;
    height: 2px;
    margin-top: 20px;
    width: 100%;
}

.title2 {
    padding: 0px;
    margin: 0px auto;
}


.thongtin {
    padding: 0px;
    margin: 0px auto;
}

.ctt-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
}

.ctt-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 12px 15px;
}

.ctt-list a {
    text-decoration: none;
    color: #0d6efd;
    font-weight: 600;
    margin-left: 10px;
}

.ctt-list a:hover {
    text-decoration: none;
    color: #f38326;
    font-weight: 600;
    margin-left: 10px;
}

.ctt-list span {
    margin-left: 20px;
}

.tuyensinh {
    width: 75%;
    padding: 0px;
    margin: 0px auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    background-color: #1F4F9F;
}

.txt h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    width: 100%;
    margin-bottom: 15px;
    max-width: 392px;
    padding: 0px;
    margin: 0px auto;
}

.txt p {
    color: white;
    font-weight: 400;
    text-align: center;
}

.ts-right {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
}

.ts-left {
    width: 50%;
    height: 323px;
}

.ts-left img {
    height: 323px;
}

.ts-right {
    width: 50%;
    padding: 30px;
}

.btn-more {
    width: 232px;
    background: #f38326;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 15px;
    text-decoration: none;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}


.slider {
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider .slide {
    display: flex;
    width: 70%;
    padding: 0px;
    margin: 0px auto;
    gap: 90px;
    justify-content: center;
    transition: 0.3s left ease-in-out;
}

.slider .item {
    margin-right: 10px;
}

.slider .item:last-child {
    margin-right: 0;
}

.ctrl {
    text-align: center;
    margin-top: 5px;
}

.ctrl-btn {
    padding: 20px 20px;
    min-width: 50px;
    background: #fff;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;

    position: absolute;
    top: 50%;
    margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
    left: 0;
}

.ctrl-btn.pro-next {
    right: 0;
}

.tl {
    font-weight: 500;
    color: #1F4F9F;
    font-size: 32px;
    font-family: "Roboto Slab";
    text-align: center;
    height: 24px;
}

.hr4 {
    background-color: #f38326;
    width: 5%;
    padding: 0px;
    margin: 0px auto;
    height: 2px;
}

.block-principal img {
    width: 350px;
}

.block-principal span {
    color: white;
    font-weight: 600;
    font-size: 19px;
    text-align: right;
}


.row {
    display: flex;
    width: 100%;
}

.w-60 {
    width: 65%;
    display: block;
}

.w-30 {
    width: 35%;
    display: block;
}


.info-principal {
    display: block;
    text-align: end;
    padding: 70px;
    width: 90%;
    margin-top: 5%;
    margin-left: 15%;
}

.hr-5 {
    background-color: white;
    width: 20%;
    height: 4px;
    float: right;
    margin-top: 4%;
}

.tl2 {
    font-weight: 500;
    color: #1F4F9F;
    font-size: 32px;
    font-family: "Roboto Slab";
    text-align: left;
    height: 24px;

}

.hoptac {
    width: 75%;
    padding: 0px;
    margin: 0px auto;
}

.hr-6 {
    background-color: #f38326;
    height: 3px;
    width: 8%;
}


.fl-hoptac {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.fl-hoptac img {
    width: 400px;
    height: 264px;
    object-fit: cover;
}

.po-down {
    position: relative;
    top: -50px;
    right: -45px;
    height: 150px;
    width: 300px;
    background-color: white;
    padding: 20px;
}

.cat {
    color: #1F4F9F;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
}

.name-1 {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: black;
}

.mask {
    font-size: 13px;
    color: #717171;
}

.thuvienanh {
    width: 75%;
    height: 750px;
}

.br {
    height: 10px;
}

.hr-7 {
    background-color: #0d6efd;
    height: 1px;
    width: 24%;
}

.grid-tv {
    position: relative;
}

.row-social {
    width: 100%;
    height: 30px;
    margin-top: 50px;
}

.main-social {
    display: flex;
    gap: 20px;
    align-items: center;
}


.zoom img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.zoom {
    overflow: hidden;
    transition: 0.5s;
}

.main-social span {
    color: #f38326;
    font-weight: 600;
}

.thuvienanh img {
    object-fit: cover;
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item .name {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(255, 165, 0, 0.8);
    color: white;
    width: 100%;
    padding-top: 70%;
    padding-bottom: 70%;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.grid-item:hover .nameh {
    opacity: 0;

}

.grid-item:hover .nameh2 {
    opacity: 0;

}

.grid-item .nameh {
    position: absolute;
    text-align: center;
    padding: 10px;
    top: 79%;
    left: 0%;
    background-color: rgba(255, 165, 0, 0.8);
    color: white;
    width: 100%;
}

.grid-item .nameh2 {
    position: absolute;
    text-align: center;
    padding: 10px;
    top: 87%;
    left: 0%;
    background-color: rgba(255, 165, 0, 0.8);
    color: white;
    width: 100%;
}

.grid-item:hover .name {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
}

.grid-item .img {
    transition: opacity 0.3s;
}

.grid-item:hover .img {
    opacity: 0.7;
}

.block-frm-advise {
    background-color: #1F4F9F;
}

.contact {
    background-color: #1F4F9F;
    height: 400px;
}

.w-80 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 75%;
    padding: 0px;
    margin: 0px auto;

}

.ct-left {
    width: 50%;
}

.ct-right {
    width: 50%;
}

#contact {
    width: 80%;
    padding: 0px;
    margin: 0px auto;
    height: 100%;
    margin-top: 60px;
}

.btn-submit {
    width: 94px;
    margin-top: 10px;
    height: 45px;
    background: #f38326;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    float: right;
    text-transform: uppercase
}

.btn-submit:hover {
    width: 94px;
    margin-top: 10px;
    height: 45px;
    background-color: brown;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    float: right;
    text-transform: uppercase
}

.contact svg {
    margin-right: 20px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    max-width: 940px;
}

.form-control {
    width: 400px;
    background-color: #1F4F9F;
    border-bottom: 1px solid;
    color: #fff;
    letter-spacing: 1px;
}

.form-group input {
    padding: 20px;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

#contact h3 {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .05em;
    color: #f48220;
    width: 100%;
    margin-bottom: 5px;
}

#contact h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #fff;
    width: 100%;
    max-width: 350px;
    margin: 0px 0px 40px;
}

#contact a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 15px;
}

#contact-form {
    padding: 40px;
}

.row-social {
    width: 75%;
    padding: 0px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*end content */



/* footer */

footer {
    background: #1f4f9f;
    background-image: url(https://wallpaperaccess.com/full/1491559.jpg);
    height: 500px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

.main-footer {
    width: 75%;
    padding: 0px;
    margin: 0px auto;
}

.row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.col-lg-3 {
    margin-top: 100px;
    width: 30%;
}

.lbl-cp {
    text-align: center;
    margin-top: 100px;
}

.link-ft h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #f48220;
    margin-bottom: 24px;
    width: 100%;
}

.link-ft a {
    font-weight: 600;
}

/*end footer */





/* gioithieupage */


.gioithieu {
    width: 75%;
    height: auto;
    padding: 0px;
    margin: 0px auto;
    margin-top: 150px;
}

.hr-8 {
    background-color: #f38326;
    width: 10%;
    height: 2px;
    padding: 0px;
    margin: 0px auto;
}

.gioithieu h3 {
    font-weight: 500;
    font-size: 32px;
    color: #1F4F9F;
    text-align: center;
    font-family: Roboto Slab;
    margin-top: 200px;
    height: 20px;
}

.gt-layout {
    width: 79%;
    padding: 0px;
    margin: 0px auto;
}

.block-qmdt {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0) url(../images/bg-gt-qmdt.png) no-repeat center top;
}

.h3-1 {
    font-weight: 500;
    font-size: 32px;
    color: #1F4F9F;
    text-align: center;
    font-family: Roboto Slab;

    height: 20px;
}

.container-gt {
    width: 75%;
    padding: 0px;
    margin: 0px auto;
}

.box-ti {
    width: 100%;
    padding: 0px;
    margin: 0px auto;
}

.lbl-qmdt {
    width: 90%;
    text-align: center;
    padding: 0px;
    margin: 0px auto;
}

.lbl-qmdt p {
    font-weight: 400;
    font-size: 18px;
    margin-top: 60px;
}

.lbl-qmdt b {
    font-weight: 600;
    font-size: 24px;
}

.list-qmdt {
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 100px;
    margin-top: 70px;
}

.aos-init {
    padding: 30px;
    text-align: center;
}

.info b {
    font-size: 30px;
    color: #1F4F9F;
}

.qm-bt {
    background: #ebebeb;
    padding: 20px;
}

.gtc {

    background-image: url(https://i0.wp.com/live.staticflickr.com/65535/52273200328_0fea873fa7_b.jpg?resize\u003d1024%2C576\u0026ssl\u003d1);
}

/*end gioithieupage */